extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Logan Coning

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Aloha and welcome to my portfolio website! I am currently 25 years old, but after building out this app I feel like I'm 40. The last thing I want to do is bore you, so I'll make this quick. My experience and tech-savvy aptitude is a perfect fit for your company. My soft skills and willingness and ability to work with others is unmatched. I have so much passion for all things tech that I sometimes forget the real world exists. Mahalo for stopping by!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS / Sass / Less
          li JavaScript (duh)
          li jQuery
          li Node.js
          li Express.js
          li Git and Github
          li SVN
          li JIRA
          li macOS & Windows
        h6 Contact Info

        ul
          li coninglogan@gmail.com
          li Phone: I don't put my number on the internet

        a.button.expanded(href='https://www.linkedin.com/in/logan-coning-3b046517a/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/lcohio' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/logan_conan' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  