extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Let's make America (I mean the web) great again!

      p.lead.text-light
        | This site showcases some of the projects I've worked on and completed to date. Some of the more recent ones have been quite a learning curve at first, but I figured out all you really need is the patience to work on a computer for extended periods of time.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href='project/' + project.id)
            img.thumbnail(src=project.image_urls)
            h5= project.project_name
      
